<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YahooDownloader.Properties.Settings.TickerSymbolsConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=TickerSymbols;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
